* {
    padding: 5px;
    background: #d5e1ef;
}

body{
    height: 100%;
    font-family: 'Outfit', sans-serif;
}

.master-container{
    text-align: center;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-container{
    height: 500px;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    margin: 0 auto;
}

.qr-img, img, h3, p{
    background: transparent;
}

img{
    border-radius: 12px;;
}

h3{
    margin-bottom: 0;
}

.attribution{
    bottom: 0px;
    width: -webkit-fill-available;
    position: fixed;
    text-align: center;
}